$primary:#a62626;
$gray-dark:#000000de;
$gray-light:#0000008f;
$font-xs:13px;
$font-sm:15px;
$font-md:17px;
@font-face {
    font-family: Vazir;
    src: url('../font/vazir.woff');
}

@font-face {
    font-family: Vazir;
    src: url('../font/Vazir-FD.woff');
    font-weight: normal;
    font-style: normal;
}