@import "../../assets/style/styles.scss";
.breadcrumb {
    @include listStyleNone();
    @include flexBox();
    padding-bottom: 10px !important;
    border-bottom: 1px solid $gray-light;
    &_item {
        color: $gray-light;
        font-size: $font-xs;
        position: relative;
        padding-left: 8px;
        padding-right: 4px;
        &:before {
            @include content( url("../../assets/icons/arrow-left.svg"),
            unset,
            unset,
            unset,
            0);
            width: 4px;
        }
        &:last-child::before {
            content: none
        }
    }
}